



:root{
	font-size:15px;
}
body{
	margin: 0;
	padding: 0;
}

.container{
	display:block;
	margin:40px;
}
.banner .card{
	background:blue;
	border:1px solid red;
	border-radius:8px;
	box-shadow:0px 3px 20px 2px black;
	display:block;
}
.my-image{
	border:1px solid black;
	border-radius:5px;
	box-shadow:0px 3px 20px 2px yellow;
	width:200px;
	float:right; 
}
